* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mt-105 {
  margin-top: 105px;
}
/* nav base */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  background-color: transparent;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #444444;
}

/* header */

/* restaurants */

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  /* margin-top: 300px; */
}

.restaurant {
  width: 230px;
  height: 300px;
  margin-left: 15px;
  margin-bottom: 25px;
  background-color: #cccccc;
  cursor: pointer;
}

/* slide in overlay from the bottom */
.co-overlay {
  position: relative;
  /* width: 50%; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 450ms ease;
}

.co-overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* footer */

footer {
  background-color: #cccccc;
  text-align: center;
  padding: 8px;
}

/* spans */
#add-restaurant {
  color: #008cba;
}

.mt-20 {
  margin-top: 65px;
}
.mt-25 {
  margin-top: 100px;
}

.h-100 {
  height: 100vh;
}

.no-scroll {
  overflow: hidden;
}

.bg-dark {
  background-color: #222f3e;
}

.bg-megaman {
  background-color: #2e86de;
}
.p-3 {
  padding: 15px;
}
.radius-5 {
  border-radius: 4px;
}

.box-left {
  box-shadow: 3px 0 80px rgba(255, 255, 255, 0.465);
}

.text-white {
  color: #ffffff;
}

.bg-img {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: scroll;
  z-index: -1;
}
.bg-img::after {
  content: "";
  /* background-color: #27181844; */
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #008cba;
}

.mt-15 {
  margin-top: 15px;
}

.w-100 {
  width: 100%;
}

.input-inc input {
  font-size: 20px;
  width: 100% !important;
}

.vertical-line {
  height: 200px;
  width: 2px;
  background-color: #444444;
  position: absolute;
  top: 0;
  right: 0;
}

.rel {
  position: relative;
}
